body {
  background-color: teal; 
  font-family: Georgia; 
  color: white;
  font-weight: normal;
  font-size: 20px;
  text-align: left; 
  margin: 2.0 auto;
  padding: 6px;
} 

h1 {
  font-family: "Times New Roman";
  font-weight: normal;
  color: white;
  font-size: 30px; 
  text-align: center; 
  border: 3px solid white;
} 

h2 {
 font-family: "Times New Roman"; 
 border-bottom: 1px solid white; 
 font-weight: bold;
 color: white;
} 

h3 {
 font-family: "Times New Roman"; 
 border-bottom: 1px solid white; 
 font-weight: bold;
 color: white;
} 

h4 { 
 font-family: "Times New Roman"; 
 border-bottom: 1px solid white; 
 font-weight: bold;
 color: white;
}

p {
 opacity: 0.5;
 color: white;
 font-family: Georgia; 
 padding: 8px;
} 

#careergoals { 
 border: 1px solid white;
} 

.bold {
 font-weight: bold;
}